{% extends 'base.html' %}

{% block title %}A Compliment{% endblock %}

{% block body %}
    Hi {{ person }}! I think you're
    {% for compliment in compliments %} 
    {% if loop.last %}and {% endif %}{{ compliment }}{% if not loop.last%},{% endif%}{% endfor %}!

    <section>
        <form action="/game">
         <p>   Would you like to play a game? </p>
        <p>
            <input type="radio" name="yesno" value="yes">Yes
        </p>
        <!-- <p>
            <input type="radio" name="yesno" value="hellyes">YES!!!!!!!! I LOVE GAMES!!!
        </p> -->
        <p>
            <input type="radio" name="yesno" value="no">No
        </p>
        <p>
            <input type="submit">
        </p>
        </form>
    </section>
{% endblock %}