<!DOCTYPE html>
<html>
<head>
    <title>Play a game!</title>
</head>
<body>
    <section>
        <form action="/madlib">
            <p>
                Choose person: <input type="text" name="person">
            </p>

            <p>
                Choose noun: <input type="text" name="noun">
            </p>

            <p>
                Choose adjective: <input type="text" name="adjective">
            </p>

            <p>
                Choose a color: <select name="color">
                    <option value="red">Red</option>
                    <option value="blue">Blue</option>
                    <option value="yellow">Yellow</option>
                    <option value="purple">Purple</option>
                    <option value="green">Green</option>
                    <option value="orange">Orange</option>
                </select>
            </p>

            <input type="submit">
        </form>
    </section>
</body>
</html>


<!-- [name] A (boy or girl)'s name
    [color1] A color
    [color2] Another color
    [color3] A third color
    [adj] A size related adjective
        Big
        Loud
        Enormous
        Resounding
        Terrific
        Tremendous
    [room] A room
        Bedroom
        Den
        Hall
        Office
        Library
        Living Room
    [number1] A number
    [number2] Another number
    [time] Time Word
        Afternoon
        Week
        Morning
        Day
        Evening
        Hour
        Year


    -->