{% extends 'base.html' %}
{% block title %}Play a game!{% endblock %}
{% block body %}
    <section>
        <form action="/madlib2">
            <p>
                A <select name="gender">
                    <option value="boy">Boy's</option>
                    <option value="girl">Girl's</option>
                    <option value="other">Human's</option> 
                    Name: <input type="text" name="name">
            </p>

            <p>
                Choose a color: <input type="text" name="color1">
            </p>

            <p>
                Choose another color: <input type="text" name="color2">
            </p>

            <p>
                Choose ONE MORE color: <input type="text" name="color3">
            </p>

            <p>
                Choose one or more adjectives: 
                <input type="checkbox" name="size-adj" value="big">Big
                <input type="checkbox" name="size-adj" value="loud">Loud
                <input type="checkbox" name="size-adj" value="enormous">Enormous
                <input type="checkbox" name="size-adj" value="resounding">Resounding
                <input type="checkbox" name="size-adj" value="terrific">Terrific
                <input type="checkbox" name="size-adj" value="tremendous">Tremendous
            </p>

            <p>
                Choose a room: <select name="room">
                    <option value="bedroom">Bedroom</option>
                    <option value="den">Den</option>
                    <option value="hall">Hall</option>
                    <option value="office">Office</option>
                    <option value="library">Library</option>
                    <option value="living-room">Living Room</option>
                </select>
            </p>

            <p>
                Choose a number: <input type="text" name="number1">
            </p>

            <p>
                Choose another number: <input type="range" name="number2" min="0" max="500">

            <p>
                Choose a time: 
                   <input type="radio" name="time" value="afternoon">Afternoon
                   <input type="radio" name="time" value="morning">Morning
                   <input type="radio" name="time" value="evening">Evening
            </p>

            <input type="submit">
        </form>
    </section>
{% endblock %}


<!--[name] A (boy or girl)'s name X
    [color1] A color X
    [color2] Another color X
    [color3] A third color X
    [adj] A size related adjective X
        (Checkboxes)
        Big
        Loud
        Enormous
        Resounding
        Terrific
        Tremendous
    [room] A room X
        Bedroom
        Den
        Hall
        Office
        Library
        Living Room
    [number1] A number 
    [number2] Another number
    [time] Time Word
        (Radio Buttons)
        Afternoon
        Week
        Morning
        Day
        Evening
        Hour
        Year


    -->