<!DOCTYPE html>
<html>
<head>
    <title>Play a game!</title>
</head>
<body>
    <section>
        <form action="/madlib">
            <p>
                Choose person: <input type="text" name="person">
            </p>

            <p>
                Choose noun: <input type="text" name="noun">
            </p>

            <p>
                Choose adjective: <input type="text" name="adjective">
            </p>

            <p>
                Choose a color: <select name="color">
                    <option value="red">Red</option>
                    <option value="blue">Blue</option>
                    <option value="yellow">Yellow</option>
                    <option value="purple">Purple</option>
                    <option value="green">Green</option>
                    <option value="orange">Orange</option>
                </select>
            </p>

            <input type="submit">
        </form>
    </section>
</body>
</html>