{% extends 'base.html' %}
{% block title %}The Magic Book{% endblock %}
{% block body %}
    <h1>{{name}}'s Magic Book</h1>

    <p>
        {{ name }} closed the big {{ color1 }} book. It slammed shut with a {% if size_adj %} {{ size_adj|join(", ") }} {% endif %} bang, and a huge cloud of dust came from the old pages. {{ name }} put the book back into the bookcase in the {{ room }}, next to {{ number1 }} copies of the Lord of the Rings, the best book ever written. As {{ name }} went to bed {{ nominative }} smiled at the book and said, "I wish that I could fish!"
    </p>

    <p>
        When {{ nominative }} woke up the next {{ time }}, the magic book had granted {{ possessive }} wish, and a {{ color2 }} fishing rod and a {{ color3 }} bucket were next to {{ possessive }} bed. {{ name }} hugged the old {{ color1 }} book, and {{ number2 }} seagulls flew in through the window, to show {{ oblique }} where to go fishing.
    </p>

    <p>
        ~The End~
    </p>

{% endblock %}

<!-- 

 -->