<!DOCTYPE html>
<html>
<head>
    <title>The Magic Book</title>
</head>
<body>
    <h1>{{name}}'s Magic Book</h1>

    <p>
        {{ name }} closed the big {{ color1 }} book. It slammed shut with a {% if size_adj %} {{ size_adj|join(", ") }} {% endif %} bang, and a huge cloud of dust came from the old pages. {{ name }} put the book back into the bookcase in the {{ room }}, next to {{ number1 }} copies of the Lord of the Rings, the best book ever written. As {{ name }} went to bed they smiled at the book and said, "I wish that I could fish!"
    </p>

    <p>
        When they woke up the next {{ time }}, the magic book had granted their wish, and a {{ color2 }} fishing rod and a {{ color3 }} bucket were next to their bed. {{ name }} hugged the old {{ color1 }} book, and {{ number2 }} seagulls flew into the window, to show them where to go fishing.
    </p>

    <p>
        ~The End~
    </p>

</body>
</html>

<!-- 

 -->